*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: beige;
    line-height: 5rem;
}
.choice{
    height:200px;
    width:200px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    background-color:#081b31 ;
}
img{
    height: 190px;
    width: 190px;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    cursor: pointer;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,
#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: beige;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
#reset{
    height: 50px;
    width: 120px;
    background-color: #081b31;
    color: azure;
    font-size: 2rem;
    margin-top: 25px;
    border-radius: 1rem;
    cursor: pointer;
}